/* https://coolors.co/331d0f-fb8823-edd8bf-ffffff */

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* padding for sides of content */
body > div {
    padding: 0px 12.5% 0px 12.5%;
    margin: 0px;
}

header {
    padding: 16px 12.5% 16px 12.5%;
    color: white;
    background-color: #331d0f;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 24px;
    list-style: none;
}

.header-link {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #331d0f;
    padding-top: 112px;
    padding-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.hero-left-container {
    margin-right: 64px;
    display: flex;
    flex-direction: column;
}

.hero-header {
    margin: 0px;
    color: white;
    font-weight: 800;
    font-size: 48px;
}

.hero-subtext {
    margin: 6px 0px 6px 0px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #FB8823;
    color: white;
    border: none;
    width: 92px;
    margin: 12px 0px 12px 0px;
    padding: 6px 12px 6px 12px;
    font-weight: bold;
    border-radius: 4px;
}

.hero-image {
    display: inline;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 6px 12px 12px rgba(2, 1, 0, 0.75);
}

.attractions {
    text-align: center;
}

.attractions-header {
    font-size: 36px;
    font-weight: 800;
    color: #331d0f;
}

.attractions-container {
    display: flex;
    justify-content: space-evenly;
}

.attraction {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attraction-subtext {
    max-width: 100%;
}

.attraction-image {
    max-width: 100%;
    border-radius: 8px;
    outline: #FB8823 solid 4px;
}


.quote {
    background-color: #F6ECDF;
    color: #331d0f;
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    margin: 0px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote-author {
    font-weight: 800;
    text-align: right;
}
